name: Release

on:
  push:
    branches: [ "main" ]

jobs:
  release_build:
    name: "Release build"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v5

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Release mode build
        run: cargo build --release

      - name: Release files
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          prerelease: true
          name: "Latest release"
          files: |
            ./target/release/**
